<a href="https://colab.research.google.com/github/nahid2553/Defence-Project/blob/main/PracticeUpdated.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [137]:
from google.colab import drive 
drive.mount('gdrive')

Drive already mounted at gdrive; to attempt to forcibly remount, call drive.mount("gdrive", force_remount=True).

In [138]:
import pandas as pd
df = pd.read_csv('gdrive/My Drive/colab/trains.csv')
df.head()

,job,Study Hours College,Study Hours University,Social media and Gaming College,Social media and Gaming University,Sports on Field,Drug Addiction,Co Curriculum
0,0,3,2,0,1,1,0,1
1,0,3,2,0,2,1,0,1
2,0,3,2,2,5,0,0,0
3,1,2,3,4,2,1,0,1
4,0,5,2,2,4,0,0,0

In [139]:
inputs = df.drop('job',axis='columns')

In [140]:
target = df['job']

In [141]:
target

0      0
1      0
2      0
3      1
4      0
      ..
269    1
270    1
271    1
272    1
273    1
Name: job, Length: 274, dtype: int64

In [142]:
inputs

,Study Hours College,Study Hours University,Social media and Gaming College,Social media and Gaming University,Sports on Field,Drug Addiction,Co Curriculum
0,3,2,0,1,1,0,1
1,3,2,0,2,1,0,1
2,3,2,2,5,0,0,0
3,2,3,4,2,1,0,1
4,5,2,2,4,0,0,0
...,...,...,...,...,...,...,...
269,3,2,0,2,1,0,1
270,6,3,2,2,0,0,0
271,4,2,1,2,0,0,1
272,7,6,0,0,1,0,1
273,4,6,2,3,0,0,1

In [143]:
from sklearn.preprocessing import LabelEncoder
le_Co = LabelEncoder()

In [144]:
inputs['Co Curri_n'] = le_Co.fit_transform(inputs['Co Curriculum'])

In [145]:
inputs.head()

,Study Hours College,Study Hours University,Social media and Gaming College,Social media and Gaming University,Sports on Field,Drug Addiction,Co Curriculum,Co Curri_n
0,3,2,0,1,1,0,1,1
1,3,2,0,2,1,0,1,1
2,3,2,2,5,0,0,0,0
3,2,3,4,2,1,0,1,1
4,5,2,2,4,0,0,0,0

In [146]:
inputs_n = inputs.drop(['Co Curriculum', 'Drug Addiction'],axis='columns')

In [147]:
inputs_n

,Study Hours College,Study Hours University,Social media and Gaming College,Social media and Gaming University,Sports on Field,Co Curri_n
0,3,2,0,1,1,1
1,3,2,0,2,1,1
2,3,2,2,5,0,0
3,2,3,4,2,1,1
4,5,2,2,4,0,0
...,...,...,...,...,...,...
269,3,2,0,2,1,1
270,6,3,2,2,0,0
271,4,2,1,2,0,1
272,7,6,0,0,1,1
273,4,6,2,3,0,1

**Decision Tree**

In [148]:
from sklearn import tree

In [149]:
model = tree.DecisionTreeClassifier()

In [150]:
model.fit(inputs_n, target)

DecisionTreeClassifier()

In [151]:
model.score(inputs_n,target)

0.9562043795620438

In [152]:
model.predict([[  5,	4,	1,	5,	0, 1 ]])

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([1])

**Random Forest**

In [153]:
X = df.drop('job',axis='columns')
y = df.job

In [154]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2)

In [155]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(n_estimators=20)
model.fit(X_train, y_train)

RandomForestClassifier(n_estimators=20)

In [156]:
model.score(X_test, y_test)

0.8363636363636363

**GussianNB**

In [157]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(inputs,target,test_size=0.3)

In [158]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

In [159]:
model.fit(X_train,y_train)

GaussianNB()

In [160]:
model.score(X_test,y_test)

0.6987951807228916

In [162]:
pred = model.predict(X_test)

In [163]:
pred

array([1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1,
       1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1,
       1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1,
       0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0])

In [164]:
from sklearn.metrics import accuracy_score

In [165]:
accuracy_score(y_test,pred)

0.6987951807228916

In [166]:
from sklearn.metrics import confusion_matrix

In [167]:
confusion_matrix(y_test,pred)

array([[27, 14],
       [11, 31]])

In [168]:
from sklearn.metrics import classification_report

In [170]:
print(classification_report(y_test,pred))

              precision    recall  f1-score   support

           0       0.71      0.66      0.68        41
           1       0.69      0.74      0.71        42

    accuracy                           0.70        83
   macro avg       0.70      0.70      0.70        83
weighted avg       0.70      0.70      0.70        83